@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
  /* Set the desired height for the container */
  /* height: 300px; */

  /* Enable scrolling */
  overflow-y: scroll;

  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.linkify {
  color: blue;
  text-decoration: underline;
}
/* for fade in animation */
.expandable {
  min-height: 0;
  color: white;
  /* background-color: red; */
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  background-color: magenta;
  transition: grid-template-rows 5000ms ease-in;
  transition-delay: 3000ms;
}
.wrapper.open {
  grid-template-rows: 1fr;
}
